.howtovote {
    width: 360px;
    height: 640px;
    background-color: #ffffff;
  }

.logoo {
    width: 54.5px;
    height: 64px;
    object-fit: contain;
    margin : 80px 152.5px 0px 153px;
  }

.stu {
    width: 311px;
    height: 30px;
    font-family: AppleSDGothicNeo;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #61943e;
    margin : 37px 25px 0px 24px;
}

.votedate{
    width: 237px;
    height: 24px;
    font-family: AppleSDGothicNeo;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 14px 61px 0px 62px;
  }

  .guideline {
    width: 311px;
    height: 30px;
    font-family: AppleSDGothicNeo;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #61943e;
    margin: 14px 24px 0px 25px
  }
  .linerect  {
    width: 300px;
    height: 180px;
    border-radius: 33px;
    border: solid 1px #d7ddd3;
    background-color: #ffffff;
    margin: 5px 30px 0px 30px;
  }

  .guidecontents {
    width: 279px;
    height: 144px;
    font-family: AppleSDGothicNeo;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 23px 10px 0px 11px;
  }

  .anorect  {
    width: 200px;
    height: 53px;
    border-radius: 16px;
    border: solid 1px #314e49;
    background-color: #314e49;
    margin: 24px 80px 0px 80px;
  }

  .checky {
    width: 40px;
    height: 24px;
    font-family: AppleSDGothicNeo;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 15px 83px 0px 83px;
  }

  .COPYRIGHT {
    width: 332px;
    height: 12px;
    font-family: AppleSDGothicNeo;
    font-size: 10px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 51px 16px 22px 16px;
  }