.Voting_complete {
    width: 360px;
    height: 640px;
    background-color: #ffffff;
}

.title {
    width: 237px;
    height: 24px;
    font-family: AppleSDGothicNeo;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #61943e;
    margin: 89px 62px 16px 61px;
}

.Voting_Box {
    width: 187px;
    height: 172px;
    object-fit: contain;
    margin-left: 87px;
    margin-bottom: 25px;
    margin-right: 86px;
}

.subscription {
    width: 273px;
    height: 158px;
    font-family: AppleSDGothicNeo;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-left: 44px;
    margin-bottom: 18px;
    margin-right: 43px;
}

.subscription .token {
    color: #61943e;
}

.Checking_Box {
    width: 200px;
    height: 53px;
    border-radius: 16px;
    border: solid 1px #314e49;
    background-color: #314e49;
    text-align: center;
    margin-left: 80px;
    margin-bottom: 51px;
    margin-right: 80px;
}

.Checking {
    width: 200px;
    height: 53px;
    font-family: AppleSDGothicNeo;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
}

.Copyright {
    display: inline-block;
    white-space: nowrap;
    width: 328px;
    height: 12px;
    font-family: AppleSDGothicNeo;
    font-size: 10px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-left: 16px;
    margin-bottom: 22px;
    margin-right: 16px;
}