#imgNavi{
  width:auto;
  height:20px;
  vertical-align: middle;
  transform: translateX(5px);
}
.imgDeco{
  width: 110px;
  height: 75px;
  padding-left: 15px;
  padding-right: 10px;
  float: left;
}
.imgLogo{
  width: 100px;
  height: auto;
  border: 1px solid;
  padding-left: 3px;
  float: none;
}
.electionMark{
  float:right;
  width: 40px;
  height: auto;
  position: relative;
  top: -33px;
  right: 5px;
}
.btn_bot{
  height: 32px;
  color: white;
  border-radius: 5px;
  border: 0;
  font-weight: bold;
}
#btnSurrender{
  width: 100px;
  background-color: #11995c;
}
#btnNext{
  width: 200px;
  background-color: #084027;
}
