<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Menu</title>
<style type="text/css"> .ui-page { background:url(); background-size:100% 100%; } </style>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/setUserKey.css">
</head>
<body>
   <a><i class="fas fa-chevron-left" id="back"></i></a>
  <div class="ImagePart">
<img src="img/mark.jpg" alt="">
  </div>

<div class="inputPart">
<input id="input" type="text" name="" value="" placeholder="학번을 입력해 주세요">
<input id="button" type="button" name="" value="입력">
</div>
<div class="InfoPart">
  <h4>본인 확인용으로 학번을 입력받습니다</h4>
  <h4>로그인한 GLS 계정상의 학번과 일치하지 않으면 <br>에러가 발생합니다</h4>
  <h4>반드시 본인의 학번으로 투표를 진행해 <br> 주시길 바랍니다</h4>
</div>


</body>

<!-- jqeury -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
<!-- script -->
<script type="text/javascript" src="js/getUserKey.js"></script>

</html>
