<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GLSLogin</title>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="../public/css/login.css">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

</head>
<body>
    <div class="login-form">
        <img src="../public/img/logo.jpg">
        <div class="textBox">
            <i class="fas fa-user" id="user"></i>
            <input type="text" id="id" placeholder="아이디를 입력하세요">
        </div>
        <div class="textBox">
            <i class="fas fa-lock" id="lock"></i>
            <input type="password" id="password" placeholder="비밀번호를 입력하세요">
        </div>
        <input type="button" id="submit" value="로그인">
        <div class="bottom-text">
            COPYRIGHT(c) 2020 성균관대학교. ALL RIGHTS RESERVED.
        </div>
    </div>
</body>
    <!-- jqeury -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <!-- script -->
    <script type="text/javascript" src="../public/js/login.js"></script>
</html>