<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Menu</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style type="text/css"> .ui-page { background:url(); background-size:100% 100%; } </style>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/menu.css">
<style>

</style>
</head>
<body>

  <div data-role="page" id="page" data-title="Skkvote" data-add-back-btn="true">
<!-- 뒤로가기 버튼 추가 -->
<div id="header" data-role="header" data-backbtn="true">
<img id="skkuHeader" src="img/skkuHeader.jpg" alt="">
<button type="button" id="logout" name="button">Logout</button>
</div>
<div style="text-align:center;background-color: rgb(7,42,96);" class="">
<p style="color:white;margin-top:0px;margin-bottom:0px;padding:30px;">2020년 1학기 스크립토배 전자투표</p>
 <p style="color:white;margin-top:0px;margin-bottom:0px;padding:10px;">

-이것은 의미없는 문장입니다!<br>
-이것도 의미없는 문장입니다</p>
</div>
<div class="mainContent" data-role="content">
<ul data-role="listview" class="list">
<li>
<a id="votePage">
  <div class="table">
    <div class="table_cell">

    <img class="innerImg" width="80px" height="80px" src="img/election2.png">

      <h3 id="first">투표하기</h3>
      <p>당신의 후보에게 투표하세요!</p>
    </div>
</div>
</a>
</li>
<li>
<a id="checkPage">
  <div class="table">
    <div class="table_cell">

<img class="innerImg" width="80px" height="80px" src="img/check.png">

<h3 id="first">공약확인</h3>
<p>후보의 공약을 볼 수 있는 Facebook Link</p>
</div>
</div>
</a>
</li>
<li>
<a id="myPage">
  <div class="table">
    <div class="table_cell">

<img class="innerImg" width="80px" height="80px" src="img/mypage.png">

<h3 id="first">My page</h3>
<p>투표 내역 확인/토큰 발급 내역 확인</p>
</div>
</div>
</a>
</li>
</ul>
</div>
</div>

</div>

</body>

<!-- jqeury -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
<!-- script -->
<script type="text/javascript" src="js/menu.js"></script>

</html>
