<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>성균투표</title>

    <!-- font -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">

    <!-- css -->
    <link rel="stylesheet" href="css/myPage.css">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>
<body>
    <i class="fas fa-chevron-left" id="back"></i>
    <p id="pageName">내 정보</p>
    <button class="fas fa-sign-out-alt" id="logout"></button>
    <div class="myPage">
        <img src="img/skku.jpeg" id="canvas">
        <img src="img/profile.png" id="userImage">
        <div class="myPageHeader">
            <p id="userName">김희윤</p>
            <p id="major">소프트웨어</p>
        </div>
        <div id="division"></div>
        <div class="myPageFooter">
            <div class="tokenInfo">
                <p class="token">성균토큰</p>
                <p class="balance"> <%= ejsToken %> SKKT</p>
            </div>
            <div class="voteInfo">
                <p class="vote">선거정보</p>
                <p class="txHash"> <%= ejsAddress %></p>
            </div>
        </div>           
    </div>
</body>
 <!-- jqeury -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
 <!-- script -->
 <script type="text/javascript" src="js/myPage.js"></script>
</html>