<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPage</title>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="css/myPage.css">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>
<body>
    <i class="fas fa-chevron-left" id="back"></i>
    <div class="myPage">
        <div class="myPageHeader">
            <img src="img/Emblem_01.jpg" class="logoCircle">
            <p id="userName">김희윤</p>
        </div>
        <div class="myPageFooter">
            <div class="tokenInfo">
                <p class="token">성균토큰</p>
                <p class="balance">100 SKKT</p>
            </div>
            <div class="tokenInfoBack1"></div>
            <div class="tokenInfoBack2"></div>
            <div class="voteInfo">
                <p class="vote">선거정보</p>
                <p class="txHash">0x1d673137ff8ab2d303b56726bd4590edfe66265eab7d24c4405b4ec27200d89d</p>
                <p class="explain">투표가 끝난 후 해당 번호를 통해 당신의 투표를 확인해 보세요</p>
            </div>
            <div class="voteInfoBack1"></div>
            <div class="voteInfoBack2"></div>
            <div class="voteInfoBack3"></div>
            <div class="voteInfoBack4"></div>
        </div>           
    </div>
</body>
 <!-- jqeury -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
 <!-- script -->
 <script type="text/javascript" src="js/myPage.js"></script>
</html>