<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>성균투표</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">
  <link rel="stylesheet" href="css/setUserKey.css">
</head>

<body>
  <div class="background">
    <a><i class="fas fa-chevron-left" id="back"></i></a>
    <p class="title">투 표 하 기</p>
    <div class="InfoPart">
      <img class="image" src="img/undraw.png">
      <p class="warning" style="text-align:center">본인의 학번을 입력해 주세요
        <div class="inputPart">
          <input id="input" type="text" name="" value="" placeholder="학번을 입력하세요">
          <button id="button">입 력</button>
        </div>
    </div>
  </div>
</body>

<!-- jqeury -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
<!-- script -->
<script type="text/javascript" src="js/setUserKey.js"></script>

</html>