<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote Page</title>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="css/vote.css">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>
<body>
    <i class="fas fa-chevron-left" id="back"></i>
    <div class="title">
        <p id="electionName">제 5대 소프트웨어 학생회</p>
    </div>
    
    <div class="candidate1">
        <img src="img/candidate1.jpg" class="candidateEmblem">
        <div class="candi1Info">
            <p id="candiNumber">기호 1번</p>
            <p id="candiBrand">레드벨벳</p>
        </div>
        <div class="candi1Names">
            <p id="president">정후보 : 아이린</p>
            <p id="vicePresidnet">부후보 : 김예림</p>
        </div>
        <img src="img/vote.png" id="vote1">
    </div>
    
    <div class="candidate2">
        <img src="img/candidate2.png" class="candidateEmblem">
        <div class="candi2Info">
            <p id="candiNumber">기호 2번</p>
            <p id="candiBrand">아이즈원</p>
        </div>
        <div class="candi1Names">
            <p id="president">정후보 : 김민주</p>
            <p id="vicePresidnet">부후보 : 권은비</p>
        </div>
        <img src="img/vote.png" id="vote2">
    </div>
    <div class="giveUpSection">
        <input type="button" id="giveUp" value="기권">
    </div>
</body>
<!-- jqeury -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
<!-- script -->
<script type="text/javascript" src="js/vote.js"></script>
</html>