@font-face { font-family: 'MapoGoldenPier'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff'); font-weight: normal; font-style: normal; }
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'NanumBarunGothic', sans-serif;
    box-sizing: border-box;
}
body {
    width: 100vmin;
    height: 100vmax;
}
#back {
    font-size: 20px;
    color: #ffd562;
    cursor: pointer;
    position: absolute;
    top: 35px;
    left: 10vmin;
}
.myPage {
    width: 80vmin;
    height: 490px;
    position: absolute;
    top: 85px;
    left: 10vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#pageName {
    color: black;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 43vmin;
}
#logout {
    font-size: 23px;
    color: #ffd562;
    background: none;
    border: none;
    position: absolute;
    top: 35px;
    left: 88vmin;
}
#canvas {
    width: 80vmin;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    top: -5px;
}
#userImage {
    width: 20vmin;
    border-radius: 50%;
    background: none;
    position: relative;
    top: -55px;
    left: 30vmin;
}
#userName {
    position: relative;
    top: -50px;
    text-align: center;
    font-size: 30px;
    color: #fbc028;
    font-weight: 500;
    font-family: 'MapoGoldenPier';
}
#major {
    font-family: 'MapoGoldenPier';
    font-size: 15px;
    color: #adadad;
    position: relative;
    top: -45px;
    left: 30vmin;
}
#division {
    border-bottom: 1.5px solid #949594;
    width: 10vmin;
    position: relative;
    top: -32px;
    left: 34.5vmin;
}
.token {
    color: #949594;
    position: relative;
    top: -15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'MapoGoldenPier';
    text-align: center;
}
.balance {
    color: #fbc028;
    position: relative;
    top: -8px;
    text-align: center;
    font-weight: bold;
}
.vote {
    color: #949594;
    font-size: 20px;
    font-weight: 600;
    font-family: 'MapoGoldenPier';
    position: relative;
    top: 10px;
    text-align: center;
}
.txHash {
    color: #fbc028;
    word-break: break-all;
    position: relative;
    top: 17px;
    margin-left: 8vw;
    margin-right: 8vw;
    text-align: center;
    font-weight: bold;
}
