.passwordSetting {
    width: 360px;
    height: 640px;
    background-color: #ffffff;
}
.lockIcon {
    width: 100px;
    height: 105.1px;
    position: absolute;
    top: 63.2px;
    left: 134px; 
}
.explain {
    width: 271px;
    height: 87px;
    position: absolute;
    top: 199px;
    left: 45px;
    font-family: "AppleSDGothicNeo", Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #61943e;
}
.showYourValue {

}
.value {
    border-bottom: 5px solid #61943e;
    position: absolute;
    top: 300px;
    width: 25px;
    box-shadow: none;
    background-color: #fafafb;
}
#firstValue {
    left: 39.5px;
}
#secondValue {
    left: 89.5px;
}
#thirdValue {
    left: 139.5px;
}
#fourthValue {
    left: 189.5px;
}
#fifthValue {
    left: 239.5px;
}
#sixthValue {
    left: 289.5px;
}
.put {
    width: 94px;
    height: 53px;
    border: solid 1px #707070;
    background-color: #fafafb;
    font-family: "AppleSDGothicNeo", Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #61943e;
}
#number1 {
    position: absolute;
    top: 353px;
    left: 40px;
}
#number2 {
    position: absolute;
    top: 353px;
    left: 133px;
}
#number3 {
    position: absolute;
    top: 353px;
    left: 226px;
}
#number4 {
    position: absolute;
    top: 401px;
    left: 40px;
}
#number5 {
    position: absolute;
    top: 401px;
    left: 133px;
}
#number6 {
    position: absolute;
    top: 401px;
    left: 226px;
}
#number7 {
    position: absolute;
    top: 451px;
    left: 40px;
}
#number8 {
    position: absolute;
    top: 451px;
    left: 133px;
}
#number9 {
    position: absolute;
    top: 451px;
    left: 226px;
}
#blank {
    position: absolute;
    top: 501px;
    left: 40px;
}
#number0 {
    position: absolute;
    top: 501px;
    left: 133px;
}
#backSpace {
    position: absolute;
    top: 501px;
    left: 226px;
}
.grey {
    width: 94px;
    height: 53px;
    border: solid 1px #707070;
    background-color: #bfc2c5;
}
#backspaceIcon {
    width: 38.2px;
    height: 25.9px;
}
