@font-face { font-family: 'MapoGoldenPier'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff'); font-weight: normal; font-style: normal; }
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'NanumBarunGothic', sans-serif;
    box-sizing: border-box;
}
body {
    width: 100vmin;
    height: 100vmax;
}
#back {
    font-size: 20px;
    /* color: #2b71b3; */
    /* color: #449955; */
    color: #009053;
    cursor: pointer;
    position: absolute;
    top: 5vmax;
    left: 10vmin;
}
#electionName {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 4.5vmax;
}
.pattern {
    width: 10vmin;
    height: 170px;
    /* background-color: #2b71b3; */
    /* background-color: #294273; */
    background-color: #184c42;
}

/* candidate 1 css */
.candidate1 {
    width: 80vmin;
    height: 170px;
    position: absolute;
    top: 100px;
    left: 10vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#candiNumber {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 23px;
    left: 16vmin;
}
#candiBrand {
    /* color: #294273; */
    /* color: #2b71b3; */
    /* color: #449955; */
    color: #009053;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 44vmin;
}
#president {
    width: 80vmin;
    position: absolute;
    top: 65px;
    left: 18vmin;
    font-size: 15px;
    color: #888686;
}
#vote1 {
    width: 40vmin;
    height: 50px;
    border: none;
    position: absolute;
    top: 100px;
    left: 25vmin;
    border-radius: 10px;
    background-color: #243330;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

/* candidate 2 css */
.candidate2 {
    width: 80vmin;
    height: 170px;
    position: absolute;
    top: 300px;
    left: 10vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#vote2 {
    width: 40vmin;
    height: 50px;
    border: none;
    position: absolute;
    top: 100px;
    left: 25vmin;
    border-radius: 10px;
    background-color: #243330;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

/* giveUp BTN */
#giveUp {
    width: 40vmin;
    height: 50px;
    border: none;
    background-color: #949594;
    opacity: 0.7;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 35vmin;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 30px;
}