#container{
  position: relative;
  width:360px;
  height:640px;
  border: 1px black solid;

}
#navi{
  width:360px;
  height: 30px;
  background-color:black;

}
#topBlank{
  padding: 23px;
}
#main{
}
#btnVote_all{
  text-align: center;
  padding-top: 30px;
}
#bot{
  width: 360px;
  position: absolute;
  bottom:20px;
  text-align: center;
}
#btn_bot{
  padding-bottom: 20px;
}
#sidenav{
}
